body{
    background-image:url("https://www.telegraph.co.uk/content/dam/Travel/2018/November/Gobi-GettyImages-845456048-xlarge.jpg") ;
    background-attachment: fixed;
    background-repeat: round;
    background-position: center;
}

header{
    background-color: fuchsia;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    height: 100px;
}

p.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: inherit;
    padding-top: 20px;
    font-size: 35px;
}

h1{
    color: ivory;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 200px;
    font-variant: normal;
    text-align: center;
    font-size: 80px;
}

p.intro{
    color: black;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    text-align: left;
}

img{
    align-self: center;
    align-items: center;
}

h3.question{
    color: darkmagenta;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
    vertical-align: auto;
    font-size: 30px;

}
p.body{
    color: deeppink;
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-variant: normal;
    font-size: 25px;
}

h2{
    color: firebrick;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-variant: normal;
    text-align: center;
    font-size: 25px;
}
p.main{
    color: fuchsia;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    text-align: center;
    

}

#image{
    align-self: center;
    padding-left: 550px;
}